.content{
	margin: 30px 0;
	background: #99CCCC;
	padding: 20px;
	clear: both;
        height:550px;
        opacity: 0.8;
     filter: alpha(opacity=40); /* For IE8 and earlier */
}
#content{
	margin: 30px 0;
	background: white;
	padding: 20px;
	clear: both;
        height:550px;
        opacity: 0.8;
        filter: alpha(opacity=40); /* For IE8 and earlier */
}
#content_ext{
    height:100%;
    margin: 30px 0;	
    background: #FFFF99;
    padding: 20px;
    clear: both;
     opacity: 0.8;
        filter: alpha(opacity=40); /* For IE8 and earlier */
}



 .addbtn

input[type="submit"],button
{
    border: none;
    color: white;
    padding: 4px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #4CAF50;
}
.reports
{
    background:darkblue;
    color: white;
   
    font-size:1.2em;
    text-align: center;
   
}
.reports tr td {
    
    text-align: center;
}
.report tr td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    
   // font-size: 1.3em;
   // padding:10px;
 //   text-align: center;
}
table.report1 {
    border-collapse: collapse;
    width: 70%;
}